
//Primary color:
 $DarkBlue:#01102d;
 $Blue:#011541;
 $BlueLight:#001d5c;
 $gradient:linear-gradient(43deg, hsl(230, 60%, 54%) 0%, hsl(304, 52%, 55%) 46%, hsl(39, 100%, 72%) 100%);
 $lightBlue:#3d9cfa;
 $lightBlueActive:hsl(210, 63%, 39%);
 $orange:hsl(14, 61%, 66%);

 //Cards Colors:
 $grey:hsl(206, 22%, 13%);
 $LightGrey:hsl(205, 16%, 15%);

 //Languages Colors:
 $Html:hsl(27, 84%, 45%);
 $css:hsl(223, 70%, 54%);
 $javascript:hsl(60, 74%, 53%);
 $Python: hsl(120, 100%, 25%);
 $PHP: hsl(300, 100%, 25%);
 $Ruby: hsl(0, 82%, 61%);
 $Java: hsl(180, 94%, 37%);
 $Go: hsl(350, 93%, 74%);
 $C:hsl(168, 52%, 48%);